.App {
  text-align: center;
}



#content {
  padding-top: 40px;
}


.list-group,
.form-group {
  padding-top: 20px;

}

.btn-outline-dark{
  margin: 0;
  position: absolute;
  
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

